# dependencies required for runtime

# direct / indirect that should be declared
fastapi
sqlalchemy
alembic
pymysql
passlib[argon2]
python-jose[cryptography]
python-dotenv
tzdata
openai
python-multipart

# devtools
pip-tools
uvicorn
pytest
httpx
black
flake8
google-auth
requests
